* {
  margin: 0;
  padding: 0;
}

.calculator {
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 35px;
  
}

.input-box {
  width: 180px;
}

.clear-btn {
  padding: 8px;
  width: 160px;

}

.onclick-btns {
  margin: 10px;
}

 #clearbtn {
  margin-left: 11px;
}