
.inputfield input{
  border-bottom: 3px solid white;
    color: white;
}
.inputfield label{
  color: white;
}



/* .btn2{
  padding: 10px 20px;
  border: 2px solid grey;
  border-radius: 6px;
  width: 8%; 
  cursor: pointer;
} */
























 
